body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  padding-center: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
  padding-center: 30px;

}
